/* BlogFeed.scss */

.blog-feed{
  box-sizing: border-box;
    padding: 2rem 2rem 12rem;
    border-top: 1px;

    & > h2{
      font-weight: 700;
    padding-top: 20px;
    border-top: 1px solid var(--color-light);
    }
}

.scroll-button-container {
  display: flex;
  align-items: center;
  position: relative; /* scroll-button absolute position 기준 */
}


.scroll-container {
width: 100%;
}

.posts-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.post-card{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start; /* 스냅 시작점 변경 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  transition: box-shadow 800ms;


  &:hover{
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.3);
  }

  h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  time{
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-align: right;
    margin-top: 12px;
  }
}

.post-img{
  object-fit: contain;
  width: 100%;
  height: 130px;
}

.description{
  & > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;

  }
}


.blog-more{
  display: block;
  width: 100%;
  padding: 0.8rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
  transition: border-radius 250ms ease-in-out;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  text-align: center;

  &:hover{
    border-radius: 20px;
  }
}