/* intro area */
.intro-wrap{
  $typingNumber:8;
  $typingSpeed : 6s;

  
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: 100vh;
  display: grid;
  margin: 0  1rem  2rem;
  border-radius:  0 0 1rem 1rem;
  background-color: var(--color-black);
  color: var(--color-light);


  > div{
    display: block;
  }
  
  .intro-top{
    text-align: left;
    margin-left: 1.2rem;
    margin-top: 10px;
    color: var(--color-strong);
    opacity: 0;
    transform: translateY(-1rem);
    animation: fadeInOut 1s ease-in-out forwards;
    animation-delay: 1.5s;
    height: 100%;
  }
  
  .intro-middle{
    text-align: left;
    font-size: 64px;
    font-weight: 700;
    max-width: max-content;
    word-break: keep-all;
    letter-spacing: -0.4px;
    height: 100%;
    margin-left: 8%;
    animation: identifier 3s ease-in-out;

    & .activated {
      opacity: 1;
      filter: blur(0);
    }
    .intro-slogan-text-sm{
      font-size: 18px;
      font-weight: 400;
    }
    .intro-slogan-text{
      position: relative;

      &::after{
        content: " ";
        background-color: #d97757;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 4px;
        border-radius: 4px;

        // scale을 사용하는 이융.
        // GPU 가속기만 사용하기 때문에 페이지 레이아웃을 다시 그릴 필요 없음.
        transform: scaleX(0);
        transform-origin: left;

        animation: underline 2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
        animation-delay: .5s;

      }
    }

  }


  .intro-text{
    letter-spacing: -0.4px;
    max-width: 340px;
    width: 100%;
    height: 100%;
    place-self: end;
    margin-right: 8%;
    word-break: keep-all;
    line-height: 24px;
    position: relative;
    animation: translateXX 1s ease-in-out;
        &::before{
          content: " ";
          position: absolute;
          width: 2px;
          height: 74px;
          background: #fff;
          left: -15px;
          top: 0;
          border-radius: 2px;
        }
    
    
  }

  .intro-down-allow {
    animation: tagMotion .8s ease-in-out infinite alternate;
  
  }
  
  
  .intro-allow{
    position: absolute;
    width:40px;
    left:50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
    
  }
}


@media screen and (max-width :768px) { 
  .intro-wrap{
    padding: 0 18px;
    .intro-middle{
      place-self: center;
      font-size: 24px;
      margin-left: 0;
      text-align: center;
    }

    .intro-text{
      place-self: center;
      margin-right: 0;
      height: max-content;
      
      &::before{
        left : -11px;
        height: 100%;
      }
  }
  }
  
  .intro-wrap .intro-middle .intro-slogan-text-sm{
    font-size: 12px;
  }

  .intro-middle{

    .intro-slogan-text{
      &::after{
        display: none;
      }
    }
  
  }

  .intro-allow{
    bottom: 0;
    
  }

}




@keyframes cursor{
  to {border-left:2px solid #000 ;}
}



@keyframes typing {
  25%, 75%{
    width:0;
  }
  0%, 50%{
    width:calc(100% + 14px)
  }
}


@keyframes translateXX {
  0%{
    opacity: 0;
    transform: translateX(80%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}




@keyframes tagPosition {
  0% {
    transform: translateX(0) scaleX(1); /* Initial position and size */
  }
  50% {
    transform: translateX(50px) scaleX(0.5); /* Move right and shrink width */
  }
  100% {
    transform: translateX(0) scaleX(1); /* Return to initial position and size */
  }
}


@keyframes tagMotion {
  0% {
    transform: translateY(0); /* Initial position */
  }
  100% {
    transform: translateY(10px); /* Final position */
  }
}

@keyframes fadeInOut {
  to{
    opacity: 1;
    transform: translateY(0rem);
  }
}



@keyframes identifier {
  0%{
    opacity: 0;
  filter: blur(6);
  }

  70%{
    opacity: 0.8;
    filter: blur(4);
  }

  100%{
    opacity: 1;
    filter: blur(0);
  }
  
}

@keyframes underline {
  0% {transform: scaleX(0);}
  100% {transform: scaleX(1);}
}